// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//regole css nostre
@import 'partials/_common.scss';
@import 'partials/_header.scss';
@import 'partials/_main_container_box.scss';
@import 'main/_main.scss';
@import 'partials/_footer.scss';
@import 'partials/_backend.scss';
@import 'partials/_landingpage.scss';
@import 'partials/_transitions.scss';


// scss Component
.select_restaurant {
  display: flex;
}

#box_cart {
    position: sticky;
    top: 100px;
}


@media all and (max-width: 780px) {
  .hooper-next, .hooper-prev{
    display: none;
  }
}