// BACKEND STYLE
///////////////////////



#app {
  #back_nav {
    background-color: #FFC244 !important;
    height: 100px;
  }
}
#collapse {
  a{
    color: #00A082 !important;
    text-transform: uppercase;
    font-weight: 800 !important;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid #00A082;
  }
}
#user_nav {
  width: 60%;
  margin: auto;
  justify-content: space-around;
  .button_wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .user_nav_button {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
      border: 3px solid black;
      border-radius: 50%;
      overflow: hidden;
      img {
        height: 90px;
      };
    }
    span {
      font-size: 20px;
      font-weight:bold;
      text-transform: uppercase;

    }
  }
}
.button_wrap:hover .user_span {
  transition: all .6s linear;
  color: #00A082;
}

.img_spacer {
  width: 100%;
}
.button_wrap:hover .user_nav_button {
  transition: all 1s linear;
  transform: rotateX(-30deg);
}
#main_container {
  background-color: #E9F8F5;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  h1{
    font-size: 50px;
    strong {
      text-transform: capitalize;
    }
  };
  h2 {
    color: #00A082;
  };
  img {
    height: 300px;
  }
}

#profile_container {
  background-color: #E9F8F5;
  .profile_wrap {
    width: 80%;
    margin: auto;
    h1 {
      font-size: 50px;
    };
    .content_row {
      padding: 10px 15px;
      background-color: white;
      border: 2px solid #00A082;
      border-radius: 10px;
      margin: 5px 0;
    }
  }
}
