.call_to_action{
    height: 500px;
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: #E9F8F5;
    display: flex;
    flex-direction: column;
    .container_calls{
        display: flex;
        flex-direction: row;
        .single_call{
            width: 33%;
            .box_img{
                -webkit-mask-image: url(https://res.cloudinary.com/glovoapp/image/fetch///https://glovoapp.com/images/landing/corporate/inner-mask-left.svg);
                -webkit-mask-position:  center;

                img{
                    height: 232px;
                    width: 244px;
                }
            }
        }

    }
}