* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}