* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}

.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

// esempio scss in template
.esempio{
    color: red !important;
}
