footer{
    background-color: #1d1d1d;
    color: white;
    a{
        text-decoration: none;
        #footer_logo {
            height:35px;
            margin: 35px !important;
        }
    }
    .footer_container{
        text-align: left;
        margin: auto !important;
        max-width: 1024px;
        ul{
            li{
                line-height: 2.5em;
                list-style: none;
                a{
                    text-decoration: none;
                    color: white;
                    img{
                        margin-bottom: 20px !important;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 767px){
    .footer_container {
        .lol{
            padding-left: 20px !important;
        }
    }
}
@media all and (max-width: 575px) {
    .footer_container {
        .link{
            padding-left: 20px !important;
        }
        #privacy{
            padding-left: 10px !important;
        }
    }
}