header{
    height: 550px;
}
header, .header {
    background-color: $orange;
    width: 100%;  
    nav {
        height: 100px;
        width: 100%;
        position: fixed !important;
        top: 0 !important;
        background-color: $orange;
        z-index: 100;
        #logo {
            width: 800px;
            input {
                margin-left: 25% !important;
                width: 400px;
                text-align: center;
                border-radius: 50px;
                border-style: none;   
                font-size: 18px;
                height: 50px;
                &:focus {
                  outline: none;
                }
            }
        }
        #register {
            border-radius: 50px;
            background-color: $green;
            color: white;
            height: 50px;
            width: 120px;
            a {
                color: white;
                margin: 5px;
                font-weight: bold;
            }
        } 
    }
    #link-consegne {
        position: absolute;
        top: 100px;
        left: 540px;
        height: 20px;
        font-size: 18px;
    }
    #main-header {
        position: absolute;
        top: 130px;
        width: 100%;
        height: 400px;
        #categories {
            width: 750px;
            height: 350px;
            .category {
                height: 120px;
                width: 120px;
                background-color: white;
                border-radius: 50%;
                font-size: 12px;
                position: relative;
                box-shadow: 0 0 10px #DDDDDD;
                &:hover {
                    transform: scale(1.1);
                    cursor: pointer;
                }
                img {
                    position: absolute;
                    top: 8px;
                    width: 70px;
                }
                span {
                    position: absolute;
                    bottom: 8px;
                    width: 75px;
                    text-align: center;
                }
            }
            .category_hover {
                transition: 0.3s all ease-in-out;
            }
        }
    } 
}

@media all and (max-width: 597px) {
    header{
        height: 650px;
    }
}