// TRANSITION LANDING-COMPONENT
//////////////////////////////////////
.landing-enter-active{
  transition: all 1s;
  transition-delay: 2s;
}
.landing-leave-active {
  transition: all 1s;
}
.landing-enter, .landing-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform: translateY(-100%);
  opacity: 0;
}
// TRANSITION CATEGORIES-COMPONENT
//////////////////////////////////////
.main_box-enter-active{
  transition: all 1s;
  transition-delay: 1s;
}
.main_box-leave-active{
  transition: all 1s;
}
.main_box-enter, .main_box-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform:translateX(100vw);
  opacity: 0;
}
.category_group-enter-active {
  transition: all 1s;
  transition-delay: 1s;
}
.category_group-leave-active {
  transition: all 1s;
}
.category_group-enter, .category_group-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform:translateX(100%);
    opacity: 0;
}
.show_restaurant-enter-active {
  transition: all 1s;
  transition-delay: 1s;
}
.show_restaurant-leave-active {
  transition: all 1s;
}
.show_restaurant-enter, .show_restaurant-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform:translatex(-100%);
  opacity: 0;
}
